body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(86, 160, 86) 3%, rgb(82, 185, 57) 57%, rgb(14, 119, 14) 100%);
}

.box {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

mat-card {
    width: 350px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    width: 350px;
}

h3 {
    font:x-large;
    width: 350px;
    font-weight: bold;
    color: white;
}