<div class="div-anuncio">
  <img class="anuncio" mat-card-image src="/assets/img/anuncio.jpg" alt="Ir para a página">
</div>

<h1>Lista de produtos em leilão</h1>
<h4>Escolha o produto dos seus sonhos e vem pro arremate</h4>

<mat-card>
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="imagem">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <img>
        <img class="img_produto" mat-card-image src={{element.imagem}}>
      </td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let element">{{element.nome}}</td>
    </ng-container>


    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef>Valor</th>
      <td class="valor" mat-cell *matCellDef="let element">R$ {{element.valor | currency }}</td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button style="background-color: rgb(228, 228, 27);" [routerLink]="[
            '/praca',
            element.idProduto
          ]">
          Efetuar lance
        </button>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>