<body>
  <div class="box">
  <div class="row wrap row-itens-2" >
 
    <div class="item">
      <mat-card>
        <mat-card-title>Leilinho</mat-card-title>
        <button routerLink="/leilinho" mat-button>
          <img src="assets/img/leilinho.png">
        </button>
      </mat-card>
    </div>

    <div class="item">
      <mat-card>
        <mat-card-title>Radar Comercial</mat-card-title>
        <button routerLink="/radar" mat-button>
          <img src="assets/img/radar-comercial.png">
        </button>
      </mat-card>
    </div>
  </div>
</div>
</body>



