.box {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

mat-card {
    margin-left: 50px;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(73, 73, 73) 3%, rgb(41, 41, 41) 57%, rgb(25, 26, 25) 100%);
}

img {
    height: 300px;
}

button {
    border: none;
    background-color:rgb(255, 255, 255)
}