<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">radar</mat-icon>
    </button>
    <h1>Radar Comercial</h1>
    <span class="menu-spacer"></span>
    <div class="menu-topnav">
      <a mat-button routerLink='/accounts'> Dashboard </a>
      <a mat-button routerLink='/create-account'> Rastrear clientes </a>
      <a mat-button routerLink='/contacts'> Consulta Fiscal </a>
      <a mat-button routerLink='/create-contact'> CRM </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item routerLink='/home'> Retornar a Seleção de interface </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">      
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>