<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">rocket_launch</mat-icon>
    </button>
    <h1>Leilinho</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button routerLink='produto'> Produtos </a>
      <a mat-button routerLink='usuario'> Usuário </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item routerLink='/home'>
        <mat-icon>dataset</mat-icon>Retornar a Seleção de interface
      </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>
        <mat-icon>logout</mat-icon>Encerrar apresentação
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <div class="container">     
        <router-outlet></router-outlet>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>